<script>
  function hoge() {
    // 要素の表示・非表示
    var obj = document.getElementsByClassName("badge")[0];
    if (obj.style.display == "none") {
      obj.style.display = "block";
    } else {
      obj.style.display = "none";
    }
    var obj = document.getElementsByClassName("badge")[1];
    if (obj.style.display == "none") {
      obj.style.display = "block";
    } else {
      obj.style.display = "none";
    }
    var obj = document.getElementsByClassName("badge")[2];
    if (obj.style.display == "none") {
      obj.style.display = "block";
    } else {
      obj.style.display = "none";
    }
    var obj = document.getElementsByClassName("badge")[3];
    if (obj.style.display == "none") {
      obj.style.display = "block";
    } else {
      obj.style.display = "none";
    }
    var obj = document.getElementsByClassName("badge")[4];
    if (obj.style.display == "none") {
      obj.style.display = "block";
    } else {
      obj.style.display = "none";
    }

    // ボタンのテキストも変更
    var btn = document.getElementsByClassName("idea-btn")[0];
    if (btn.textContent == "アイデアを非表示にする？") {
      btn.textContent = "アイデアを表示する？";
    } else {
      btn.textContent = "アイデアを非表示にする？";
    }
  }
</script>

<div class="container">
  <div class="row">
    <!--ToDo作成画面-->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag "sanpo.png", width: "150px" %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
          </br>
          <p>お疲れ様。今日は何する？</p>
          <%= form_with model:@task, url:user_tasks_path, local:true do |f| %>
            <%= f.text_field :content %><%= f.submit '登録' %>
          <% end %>
        </div>
      </div>
    <!--ToDo一覧画面-->
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <% @tasks.each do |task| %>
            <tr>
              <td>
                <input type="checkbox" class="mr-2">
              </td>
              <td>
                <%= task.content %>
              </td>
              <td>
              </td>
               <td>
              </td>
              <td>
                <%= link_to edit_user_task_path(task), local:true do %>
                  <i class="fas fa-pen mr-2"></i>
                <% end %>
                <%= link_to user_task_path(task), method: :delete, local:true do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!--Idea一覧画面-->
    <div class="col-md-3">
      <div>
        <small class="text-muted pull-right">こんなのはどうかな？</small>
        <%= image_tag "Do.png", width: "150px" %> <br>
        <button type="button" class="btn btn-outline-secondary mt-1 idea-btn" onclick="hoge()">アイデアを表示する?</button>
      </div>
    </div>
    <div class="col-md-3">
      <h2 class="text-center"><span class="badge">散歩に行く</span></h2>
      <h2 class="text-center"><span class="badge">本を読む</span></h2>
      <h2 class="text-center"><span class="badge">買い物に行く</span></h2>
      <h2 class="text-center"><span class="badge">ラジオ体操する</span></h2>
      <h2 class="text-center"><span class="badge">瞑想をする</span></h2>
    </div>
</div>