<script>
function hoge() {
// 要素の表示・非表示

var obj = document.getElementsByClassName("ideaArea")[0];
if (obj.style.display == "block") {
  obj.style.display = "none";
} else {
  obj.style.display = "block";
}

// ボタンのテキストも変更
var btn = document.getElementsByClassName("idea-btn")[0];
if (btn.textContent == "アイデア表示？") {
  btn.textContent = "アイデア非表示？";
} else {
  btn.textContent = "アイデア表示？";
}
}

$(function(){
  $("input[type=checkbox]").click(function(){
  $.post('/tasks/' + $(this).data('id') + '/toggle');
  });

  setTimeout(() => {
    const childElement = document.querySelector('#child');
    // #child要素を取り除く
    childElement.remove();
    }, 3000);

  //ToDoリスト テスト
  var buttonList = document.querySelectorAll('button');
    console.log(buttonList);
    buttonList.forEach((button) => {
    console.log("abc");
    button.addEventListener('click', () => {
    var li = button.closest('div');
    console.log(li);
    li.classList.add('done');
    setTimeout(() => {
    li.remove();
    }, 3000);
    });
  });

  //ToDoリスト テスト2
  var buttonList = document.querySelectorAll('input');
    console.log(buttonList);
    buttonList.forEach((button) => {
    console.log("abc");
    button.addEventListener('click', () => {
    var li = button.closest('div');
    console.log(li);
    li.classList.add('done');
    setTimeout(() => {
    li.remove();
    }, 3000);
    });
  });


});




</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <!--ToDo投稿-->
      <div class="col-md-10 mb-4 contentParent">
        <article>
        <div class="row">
          <div class="col-md-3">
            <%= image_tag "sanpo.png", width: "200px" ,class:"ml-4" %>
          </div>
          <div class="col-md-9 taskForm">
             <div class="p-left mt-4">
             <p class="ml-5 mt-4">お疲れ様。今日は何する？</p>
             <%= form_with model:@task, url:user_tasks_path, local:true do |f| %>
               <div class="boxcontainer-fluid">
                 <div class="box"><%= f.text_field :content, class:"form-control w-100 ml-5 mr-1" %></div>
                 <div class="box"><%= f.submit '登録', class: "btn btn-success w-10 ml-5" %></div>
                </div>
             </div>
              <% end %>
          </div>
        </div>
    <!--ToDo一覧-->
        <div class="idea-index ml-5 mr-5">
          <% @tasks.each do |task| %>
            <tr>
              <td>
                <div class="parent mb-2">
                  <div>
                    <%= check_box_tag '', '', task.is_done, {'data-id' => task.id } %>

                  </div>
                  <div class="task-font ml-2">
                    <%= task.content %>
                  </div>
                  <div class="f-right">
                    <%= link_to edit_user_task_path(task), local:true do %><i class="fas fa-pen" style="color: #33CC33;"></i><% end %>
                    <%= link_to user_task_path(task), method: :delete, data:{ confirm: '削除してもよろしいですか？'}  do %><i class="fas fa-trash-alt" style="color: #CC0033;" ></i><% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </div>
      </article>
        <div class="Intermediate"></div>
    <!--Idea一覧-->
        <aside>
         <div class="container-fiuld">
           <div class="row">
             <div class="col-md-3">
                <%= image_tag "Do.png", width: "200px" ,class:"icon" %>
             </div>
             <div class="col-md-8 ideabutton">
               <button type="button" class="btn bg-warning text-white w-10 mt-2 idea-btn" onclick="hoge()">アイデア表示?</button>
             </div>
          </div>
           <div class="row">
            <div class="ideaArea">
              <% @ideas.each do |idea| %>
                  <p class="mb-2"><%= idea.content %></p>
              <% end %>
            </div>
          </div>
        </div>
      </aside>
      </div>
  </div>
</div>


<ul>
  <li>Todo 1 <button>done</button></li>
  <li>Todo 2 <button>done</button></li>
  <li>Todo 3 <button>done</button></li>
</ul>


  <% @tasks.each do |task| %>
    <tr>
      <td>
        <div class="parent mb-2">
          <div class="task-font ml-2">
            <input type="checkbox" name="example" value="サンプル">
            <%= task.content %>
            <%= link_to edit_user_task_path(task), local:true do %><i class="fas fa-pen" style="color: #33CC33;"></i><% end %>
            <%= link_to user_task_path(task), method: :delete, data:{ confirm: '削除してもよろしいですか？'}  do %><i class="fas fa-trash-alt" style="color: #CC0033;" ></i><% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>