<h3 class="ml-4">Sign up(提案者)</h3>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <a class="navbar-brand" href="edit_proposer_path"><%= image_tag "icon.png", width: "400px" %></a>
  </div>
  <div class="col-md-7">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "proposer/shared/error_messages", resource: resource %>

      <div class="field">
        <p>お名前は？<br>
        <span><%= f.text_field :name, autofocus: true, autocomplete: "name" %></span>
        </p>
      </div>

      <div class="field">
        <p>メールアドレスは？<br>
        <span><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
        </p>
      </div>

      <div class="field">
        <p>パスワードを決めてね。
        <% if @minimum_password_length %>(<%= @minimum_password_length %> characters minimum)
        <% end %><br>
        <span><%= f.password_field :password, autocomplete: "new-password" %></span>
        </p>
      </div>

      <div class="field">
        <p>不安だからパスワード。もう一度教えてくれる？<br>
        <span><%= f.password_field :password_confirmation, autocomplete: "new-password" %></span>
        </p>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>

    <%= render "proposer/shared/links" %>
  </div>
</div>
