<div class="main-container">
  <div><%= image_tag "daradara.png", width: "80px", class:"img-circle" %></div>
  <div><%= image_tag "daradara.png", width: "80px", class:"img-circle" %></div>
  <div><%= image_tag "daradara.png", width: "80px", class:"img-circle" %></div>
  <div><%= image_tag "daradara.png", width: "80px", class:"img-circle" %></div>
  <div><%= image_tag "daradara.png", width: "80px", class:"img-circle" %></div>
</div>