<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac5873e769.js" crossorigin="anonymous"></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <script>
      function set2(num) {
        // 桁数が1桁だったら先頭に0を加えて2桁に調整する
        let ret;
        if (num < 10) { ret = "0" + num; }
        else { ret = num; }
        return ret;
      }
      function onload() {
        const nowTime = new Date(); //現在日時
        const nowHour = set2(nowTime.getHours()); //時間
        const nowMin = set2(nowTime.getMinutes()); //分
        const nowSec = set2(nowTime.getSeconds()); //秒
        const msg = nowHour + ":" + nowMin + ":" + nowSec ;
        document.getElementById("showTime").innerHTML = msg;
      }
      setInterval('onload()', 1000);
    </script>
    <header>
      <nav class="navbar navbar-expand-lg" id="head">
        <div class="container header">
          <a class="navbar-brand" href="/"><%= image_tag "logo.png", width: "150px" %></a>
          <p id="showTime" class="mt-3"></p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <button class="btn btn-default">
                <%= link_to"CuToって？", homes_about_path, class: 'btn btn-default' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "ToDo作る？", new_user_task_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "疲れたときは…", new_user_fun_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </button>
            <% elsif proposer_signed_in? %>
               <button class="btn btn-default">
                <%= link_to"CuToって？", homes_about_path, class: 'btn btn-default' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "提案する？",  new_proposer_idea_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "今まで提案したこと", proposer_ideas_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "ログアウト", destroy_proposer_session_path, method: :delete, class: 'nav-link text-dark' %>
              </button>
            <% else %>
              <button class="btn btn-default">
                <%= link_to"CuToって？", homes_about_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "新規登録(提案者)", new_proposer_registration_path, class: 'nav-link text-dark' %>
              </button>
              <button class="btn btn-default">
                <%= link_to "ログイン(提案者)", new_proposer_session_path, class: 'nav-link text-dark' %>
              </button>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mt-2">
      <div class="main-visual">
      <%= yield %>
      </div>
    </main>
    <footer>
      <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
      </div>
    </footer>
  </body>
</html>